@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@layer utilities {
  .mobile-bars {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: block;
    position: absolute;
    flex-direction: column;
    top: 100%;
    width: 100%;
    left: 0;
    gap: 0;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0 6px 13px rgba(38, 78, 118, 0.1);
    transition: all 0.3s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
  }
  .open {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .bgImage {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    min-width: 0;
    width: 100%;
    height: 100vh;
    background: url("/images/banner-bg.jpg") no-repeat center top / cover;
    background-size: cover;
    z-index: -5;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}
